@mixin rounded-corner($radius) {
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
    border-radius: $radius;
}

@mixin box-shadow(){
        border: 1px solid;
        padding: 10px;
        box-shadow: 6px 13px rgb(68, 65, 65);
        
}
@mixin apply-height-times100($height){
    height: 100 * $height;
}