$text-center: center;

// @import 'colors';
$red: #ee1515;
$white: white;
$grey: lightgrey;
$black: #222224;
$green: #66A612;


// @import 'header';
@import 'mixins';
// @import 'placeholders';

* {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
*:before,
*:after {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Russo One', sans-serif;
  background-color: rgba(141, 201, 219, 0.9);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header{
  display: flex;
  justify-content: space-between;
  padding: 1% 1% 0%;
  background-color: $black;
  border-bottom: 8px solid $red;
      h1{
        color: $white;
      }
    
}

#pokemon-container1, #pokemon-container2, #pokemon-container3{ 
  background-image: url('img/water-background.jpg');
  background-attachment: fixed;
  padding-top: 2%;
  padding-bottom: 3%;
  max-width: 100%;
  min-height: 600px;
  justify-content: center;
  text-align: $text-center;
  font-size: 16px;
}

.trainer {
  width: 15%;
  max-height: 275px;  
}
.pokemon-cards{
  width: 15%;
  margin: 1%;
  height: 0%;
  max-width: 250px;
  @include rounded-corner(5px);
  @include box-shadow();
  background-color: $grey;
  border: 1px solid $red;
  // opacity: .6;

        &:hover{
                opacity: 1;
            
        }
        img{
          max-width: 96px;
        }
         
}
.stats{
            font-weight: 500;
          }
footer{
  width: 100%;
  display:flex;
  color: $white;
  justify-content: space-between;
  text-align: $text-center;
  background-color: $black;
  border-top:  8px solid $red;
   
  ul{
    color:white;
    
    li:hover{
      animation: pulse 2s infinite;
    }
  }
   h5{    
     font-size:16px;
     
   }
}

.pika{
  animation: bounce 2s;
}

.py-2{
  margin-right: 10%;
}
@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}


@keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
  }
  40%,
  43% {
      -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -webkit-transform: translate3d(0, -30px, 0);
      transform: translate3d(0, -30px, 0);
  }
  70% {
      -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -webkit-transform: translate3d(0, -15px, 0);
      transform: translate3d(0, -15px, 0);
  }
  90% {
      -webkit-transform: translate3d(0, -4px, 0);
      transform: translate3d(0, -4px, 0);
  }
}




/* INTRO PAGE STYLING */

// #intro-page{
//   display: flex;
//   align-content: center;
// }

#intro-container {
  display: flex;
  background-color: rgba(141, 201, 219, 0.9);
  width: 100%;
  height: 720px;
  // margin: 4% 0% 4% 0%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row-reverse;
  background-size: 1680px 700px;
  background-image: url("https://federicodecalifornia.files.wordpress.com/2010/04/neptune1.jpg");
}

#intro-graph {
  width: 25%;
  height: 40%;
  margin: 12% 10% 0px 0px;
  padding: 35px;
  font-size: 90%;
  color: black;
  background: rgba(141, 201, 219, 0.9);
}

@keyframes slideInRight {
  from {
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInRight {
  animation-name: slideInRight 1s forwards;
}

#welcome-header{
  font-size: 2.5em;
}

#trainer-selection{
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.hero-trainer {
  height: 500px;
  width: 259px;
}